<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Terminal" icon="/usr/share/app-install/icons/gnome-terminal.png">
    <action name="Execute"><execute>xfce4-terminal -e byobu</execute></action>
  </item>
  <separator />
  <item label="Web Browser" icon="/usr/share/pixmaps/firefox.png">
    <action name="Execute"><execute>firefox</execute></action>
  </item>
  <item label="Email" icon="/usr/share/pixmaps/thunderbird.png">
	  <action name="Execute"><execute>thunderbird</execute></action>
  </item>
  <item label="File Manager" icon="/usr/share/icons/hicolor/16x16/apps/nautilus.png">
    <action name="Execute"><execute>nautilus</execute></action>
  </item>
  <item label="Emacs" icon="/usr/local/share/emacs/24.1/etc/images/icons/hicolor/24x24/apps/emacs.png">
    <action name="Execute"><execute>emacs</execute></action>
  </item>
  <item label="Vim" icon="/usr/share/app-install/icons/vim.png">
    <action name="Execute"><execute>gvim</execute></action>
  </item>
  <item label="Leafpad">
    <action name="Execute"><execute>leafpad</execute></action>
  </item>
 
  <item label="Skype" icon="/usr/share/pixmaps/skype.png">
    <action name="Execute"><execute>skype</execute></action>
  </item>

  <separator />
  <menu id="devel-menu" label="Programming">
    <item label="Calculator">
      <action name="Execute"><execute>speedcrunch</execute></action>
    </item>
    <item label="Qt Assistant">
      <action name="Execute"><execute>assistant-qt4</execute></action>
    </item>
    <item label="Qt Designer">
      <action name="Execute"><execute>designer-qt4</execute></action>
    </item>
    <item label="DevHelp">
      <action name="Execute"><execute>devhelp</execute></action>
    </item>
    <item label="Python Console">
      <action name="Execute"><execute>x-terminal-emulator -e python</execute></action>
    </item>
    <item label="IDLE">
      <action name="Execute"><execute>idle</execute></action>
    </item>
  </menu>

  <menu id="mmedia-menu" label="Multimedia">
	  <item label="Volume control">
		  <action name="Execute"><execute>pavucontrol</execute></action>
	  </item>
	  <separator />
	  <item label="Clementine">
		  <action name="Execute"><execute>clementine</execute></action>
	  </item>
	  <item label="Deadbeef">
		  <action name="Execute"><execute>deadbeef</execute></action>
	  </item>
	  <item label="VLC">
		  <action name="Execute"><execute>vlc</execute></action>
	  </item>
	  <item label="UMPlayer">
		  <action name="Execute"><execute>umplayer</execute></action>
	  </item>
	  <item label="SMPlayer">
		  <action name="Execute"><execute>smplayer</execute></action>
	  </item>
	  <item label="SubDownloader">
		  <action name="Execute"><execute>subdownloader</execute></action>
	  </item>
  </menu>
  
  <menu id="tools" label="Tools">
    <item label="Truecrypt">
      <action name="Execute"><execute>truecrypt</execute></action>
    </item>
    <item label="KeePassX">
      <action name="Execute"><execute>keepassx</execute></action>
    </item>
  </menu>

  <separator />

  <menu id="config" label="Config">
	  <item label="Synaptic">
			  <action name="Execute"><execute>gksudo synaptic</execute></action>
	  </item>
	  <menu id="config-keyboard" label="Keyboard">
		  <item label="GB">
			  <action name="Execute"><execute>setxkbmap -layout gb</execute></action>
		  </item>
		  <item label="PL">
			  <action name="Execute"><execute>setxkbmap -layout pl</execute></action>
		  </item>
	  </menu>
	  <menu id="config-screensaver" label="Screensaver">
		  <item label="Disable">
			  <action name="Execute"><execute>xscreensaver-command -exit</execute></action>
		  </item>
		  <item label="Enable">
			  <action name="Execute"><execute>xscreensaver -no-splash</execute></action>
		  </item>
		  <item label="Activate">
			  <action name="Execute"><execute>xscreensaver-command -activate</execute></action>
		  </item>
		  <item label="Prefs">
			  <action name="Execute"><execute>xscreensaver-command -prefs</execute></action>
		  </item>
	  </menu>
	   <menu id="openbox-cfg" label="Openbox">
		  <item label="ObConf">
			<action name="Execute"><execute>obconf</execute></action>
		  </item>
		  <item label="Reconfigure">
			<action name="Reconfigure" />
		  </item>
		  <item label="Restart">
			<action name="Restart" />
		  </item>
  </menu>
  </menu>

 <separator />
 <menu id="logout-menu" label="Exit">
  <item label="Logout">
    <action name="Exit" />
  </item>
 </menu>
</menu>

</openbox_menu>
